@import '../variables';

.hero {
  background-color: $basics-dark-color;
  position: relative;

  &_title {
    font-family: var(--font-ordinaReg);
    font-size: 34px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: $basics-light-color;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      font-size: 52px;
      line-height: 1.15;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 64px;
      line-height: 1.05;
    }
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  &_slide {
    // max-height: 700px;
    height: 700px;
    @media screen and (min-width: 768px) {
      // max-height: 950px;
      height: 950px;
    }
    @media screen and (min-width: 1440px) {
      // max-height: 750px;
      height: 750px;
    }
    @media screen and (min-width: 1920px) {
      // max-height: 950px;
      height: 950px;
    }
  }
}

.reviewTextWrapper {
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  position: relative;
  padding: 20px;
}

.bullet {
  background-color: $basics-light-color !important;
  height: 8px;
  width: 8px;
  display: block;
  margin-right: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 8px;
  &:last-child {
    margin-right: 0px;
  }
  @media screen and (min-width: 768px) {
    height: 12px;
    width: 12px;
  }
}
.bullet_act {
  background-color: $basics-dark-color !important;
}
div:has(> .bullet) {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 42px;
  }
}

// .hero_backgroundImg {
//   background-image: url(/media/pictures/hero-picture.jpg);
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
//   display: flex;
//   -webkit-box-align: center;
//   align-items: center;
//   width: 100%;
//   height: 700px;
//   @media screen and (min-width: 768px) {
//     height: 950px;
//   }
//   @media screen and (min-width: 1440px) {
//     height: 750px;
//   }
//   @media screen and (min-width: 1920px) {
//     height: 950px;
//   }
// }

.Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
